.navbar .navbar-nav .nav-link {
color: #000000;
font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
color: #000000;
}

@media only screen and (min-width: 960px) {
.navbar .navbar-nav .nav-link {
padding: 1em 0.7em;
}
.navbar {
padding: 0;
}
.navbar .navbar-brand {
padding: 0 0.7em;
}
}

.navbar .navbar-nav .nav-link {
position: relative;
}

.navbar .navbar-nav .nav-link::after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
background-color: #000000;
color: transparent;
width: 0%;
content: '.';
height: 3px;
transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
width: 100%;
}
